{
  "log": {
    "_recordingName": "fetch-users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJnZW5lcmljLXNhQHRlc3QtcHJvamVjdC0yLTM4MzQzLmlhbS5nc2VydmljZWFjY291bnQuY29tIiwic2NvcGUiOiJodHRwczovL3d3dy5nb29nbGVhcGlzLmNvbS9hdXRoL2Nsb3VkLXBsYXRmb3JtIiwiYXVkIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vb2F1dGgyL3Y0L3Rva2VuIiwiZXhwIjoxNjUyOTIyNTU4LCJpYXQiOjE2NTI5MTg5NTh9.KGReCgpn3vsQZIoYNNnS8qvCq0VElvF5ulyEYgUqkKg3piNVNEQwbTJXVcQUnIfZd8mrG9rDT7j9-yOwVvrXMzvJ3c5f06ND4kfhUodUeiQmL6wmuHvxMsE_5LZYp_-PCy7Z3OkagzxWuGTn5o64o4i6Uznv53dI9m2gLZfxQXPqiXqT3ZY8ZxxGAfuln8jHUfQhPnBwnyR0COsEjEe3r00jmYkkz23gCi6WXJEk8b56YKXOJo8LBTe5HH6r8d7ikEZWBvQP7q7cXA9QZ7bF38W3vTosOtgLjjfgPeraJizz7cUgMGqU9MyLB8_TLg9ft_UbfC-D333TrjhcCKpr3Q"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 622,
            "text": "{\"access_token\":\"ya29.c.b0AXv0zTNETVniDobAkqAENRoljosf9Q_NX1t4rBGQSHDcmGE60wgymgEwneBaOLMire2T9dKAEitgPqWBM4rSmbgzddo7KX0o7z6YboUWPjgc-KFPhpkVcRmDuPlvaluUGbvcvETYMCVwMqqpAsc3kYM2sXncGE_qAaL4M1jFdXYqNyYnI3hy2DzuADNvhSqtk-imleNdBxE28GpimyQGtx4FjnukcBQ........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................\",\"expires_in\":3599,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 110,
      },
      {
        "_id": "f3f55b375f6a54ddf722cca74fb32f25",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "pageSize",
              "value": "1"
            }
          ],
          "url": "https://firebase.googleapis.com/v1beta1/projects?pageSize=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 545,
            "text": "{\n  \"results\": [\n    {\n      \"projectId\": \"golden-bloom-168817\",\n      \"projectNumber\": \"584716542225\",\n      \"displayName\": \"My Project 1\",\n      \"name\": \"projects/golden-bloom-168817\",\n      \"resources\": {\n        \"hostingSite\": \"golden-bloom-168817\"\n      },\n      \"state\": \"ACTIVE\"\n    }\n  ],\n  \"nextPageToken\": \"CjAA8-CLX9elSW2bSNBIam3hpFR8OOwX_ol_lZToeU1oKwE6WF5VUgCvN8O4UuJwrU8=\"\n}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 705,
      },
      {
        "_id": "b241ce433cebb29a401f39b84302f8ad",
        "request": {
          "headers": [
            {
              "_fromType": "array",
[...]
