{
  "log": {
    "_recordingName": "fetch-users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJ2aWV3ZXItc2FAdGVzdC1wcm9qZWN0LTItMzgzNDMuaWFtLmdzZXJ2aWNlYWNjb3VudC5jb20iLCJzY29wZSI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL2F1dGgvY2xvdWQtcGxhdGZvcm0iLCJhdWQiOiJodHRwczovL3d3dy5nb29nbGVhcGlzLmNvbS9vYXV0aDIvdjQvdG9rZW4iLCJleHAiOjE2NTI5MjgxNDYsImlhdCI6MTY1MjkyNDU0Nn0.n2cjeJI9lh0oKFduw3X10BFs4_h1CDmeSZuzM8_cL08VTE51bGPdy2B9UmjtYbmYyFF8hOCOTiA99OUKPMvFcsfP9_Ab1LEzdgX5pv0Ct0F1sZtHhf6Rdztok5fTmaQH9YJWZS1hlqF_yc8MXRM7knM30-Fpa7dh_4Sgd6kf14XdqDg-2oqt1-lpXgdOa9kj7POgjgZ28aW5PHTURAMEovLL-VfM-Gq0m3AzQ5XiXAdkFXVZOOjgAslxHOpE2QHe3s4HmAO_AMag7jyvBZXR703oHiSu1cMzJa1YMtb-A3s0IyyWPMDUeRk1-bbVZ2Z_vjSsWI9ihdr1X-kzVNmUHA"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 572,
            "text": "{\"access_token\":\"ya29.c.b0AXv0zTP6L2Rsnja3D2I-9y2cTKitw-_ywX2efPGo2_bUkwlXoeVHIZnoygTWQq5osHuzhZHa5OiTtWaat3EfLfGsLrj_1I5YR4ugpglCRD1ircV29rtQM-OU1mBEjKV_utJNk2T5cXGWRQ5O_tiaKBaXd4jjYQijvdVlOzD8o0CjTMIzNXyYGq3nyIDgZqeHKvYBHvtl8i1eV9VsjaK0GqSEAgVsP5A........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................\",\"expires_in\":3599,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 118,
      },
      {
        "_id": "f3f55b375f6a54ddf722cca74fb32f25",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "pageSize",
              "value": "1"
            }
          ],
          "url": "https://firebase.googleapis.com/v1beta1/projects?pageSize=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 546,
            "text": "{\n  \"results\": [\n    {\n      \"projectId\": \"golden-bloom-168817\",\n      \"projectNumber\": \"584716542225\",\n      \"displayName\": \"My Project 1\",\n      \"name\": \"projects/golden-bloom-168817\",\n      \"resources\": {\n        \"hostingSite\": \"golden-bloom-168817\"\n      },\n      \"state\": \"ACTIVE\"\n    }\n  ],\n  \"nextPageToken\": \"CjAA8-CLX2EC2gGh7STlAa-35Gog_yd5hzFsxMzHKgntmwu9AxVla1BF4VNn2QDMDCc=\"\n}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 600,
      },
      {
        "_id": "fa3a2f3c26c3a0a720015ed25c0a0f85",
        "request": {
          "headers": [
            {
              "_fromType": "array",
[...]
