{
  "log": {
    "_recordingName": "fetch-projects",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJ2aWV3ZXItc2FAdGVzdC1wcm9qZWN0LTItMzgzNDMuaWFtLmdzZXJ2aWNlYWNjb3VudC5jb20iLCJzY29wZSI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL2F1dGgvY2xvdWQtcGxhdGZvcm0iLCJhdWQiOiJodHRwczovL3d3dy5nb29nbGVhcGlzLmNvbS9vYXV0aDIvdjQvdG9rZW4iLCJleHAiOjE2NTI5MjgxNDcsImlhdCI6MTY1MjkyNDU0N30.kchHgqVTZ-fS0KhuNnmr9aO_O9XUUQ0EkdrBeUAGsgNc6NStf9Sxh4ZLgkyy3kmR8MHljHaKvJGk6sN5FDN_IwTrlqcF2KI92nMtxHN3UlcmDn3O8c2UEFnaifixulTQkz9c3uSfj8qfjX8ptzEjLVRiRFkIJa7OR4Tuz2N61W1HRk2xS224UK8IovTfa3U_ckHkwMWGinYylTI4Zzfqzx1fj2-RzLee8ku0ZTXkyd635FdZKc9yTlXscnsyC1l5KiAnmS3Nhe92BJyZL_pgbYA6dwiWHd9Ygfa9Uck9NK7USIS640E30XU30TEm0MhWdeseAss9zgKA-EvECaltsg"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 584,
            "text": "{\"access_token\":\"ya29.c.b0AXv0zTP6L2Rsnja3D2I-9y2cTKitw-_ywX2efPGo2_bUkwlXoeVHIZnoygTWQq5osHuzhZHa5OiTtWaat3EfLfGsLrj_1I5YR4ugpglCRD1ircV29rtQM-OU1mBEjKV_utJNk2T5cXGWRQ5O_tiaKBaXd4jjYQijvdVlOzD8o0CjTMIzNXyYGq3nyIDgZqeHKvYBHvtl8i1eV9VsjaK0GqSEAgVsP5A........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................\",\"expires_in\":3599,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 107,
      },
      {
        "_id": "f3f55b375f6a54ddf722cca74fb32f25",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "pageSize",
              "value": "1"
            }
          ],
          "url": "https://firebase.googleapis.com/v1beta1/projects?pageSize=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 571,
            "text": "{\n  \"results\": [\n    {\n      \"projectId\": \"golden-bloom-168817\",\n      \"projectNumber\": \"584716542225\",\n      \"displayName\": \"My Project 1\",\n      \"name\": \"projects/golden-bloom-168817\",\n      \"resources\": {\n        \"hostingSite\": \"golden-bloom-168817\"\n      },\n      \"state\": \"ACTIVE\"\n    }\n  ],\n  \"nextPageToken\": \"CjAA8-CLXx4uQ8-TjI3Gi3tTsvExto09i6tR5TNXvTkMs4V-6AI8F6kBiI6ogPWsJNk=\"\n}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 893,
      },
      {
        "_id": "53f64f75995b335f43c0b09b824fb5bf",
        "request": {
          "headers": [
            {
              "_fromType": "array",
[...]
