{
  "log": {
    "_recordingName": "fetch-projects",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJ2aWV3ZXItc2FAdGVzdC1wcm9qZWN0LTItMzgzNDMuaWFtLmdzZXJ2aWNlYWNjb3VudC5jb20iLCJzY29wZSI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL2F1dGgvY2xvdWQtcGxhdGZvcm0iLCJhdWQiOiJodHRwczovL3d3dy5nb29nbGVhcGlzLmNvbS9vYXV0aDIvdjQvdG9rZW4iLCJleHAiOjE2NTI5NTgwNTksImlhdCI6MTY1Mjk1NDQ1OX0.aXoyOnM__PAXBcP8LwLn-TcrmcJyeRKKsMXMQVwFs0JKP57SE2cFHehxe3doi5AHsRB-R2MXe6hhseXaOSI7vNb939RsnGUjbS1TNtX7-n20wiQP-3Ob8h-VqlQpJlpn39vc1OZxhcQLUXDOJFohmJdAq1lbP4RJVdCSZ0psR2sCsPB2YXJAZ5wZJZQNMpk0Ve8pmbl-D9Q3NYuVwXkqEqjanVr-sazzmK63P9TGIxF46LGxa0Qs3XAZEBUkIpZP-dyb059hl9GTItFY2y13kkqpAMY6jDBSH9YqMxGiMc4RJEdJBTnnhkCH-gWNoaZivG5NSEWf5UJfQGt-OFsMsQ"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 584,
            "text": "{\"access_token\":\"ya29.c.b0AXv0zTMjp3qBL0cr0MvQT3L6mfi4Yk7gVrS6xuzfC0gYHwfSz9EytF8grbuS_ApsfJYlaiiDTMBEBb7fbuPX2U-M4DlSrVuyLgkMmxJvgURr11LoXP0yI2cSllmnAh6t-oi3SUayMRWIWeX7KRg6DYsITvd9jm1m4H8Ry5tgXKr8CJXjXmqoBKUmT-5cykjRpSmb9USKlTgeQlQQXVivord1NCSo_kc........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................\",\"expires_in\":3599,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 114,
      },
      {
        "_id": "f3f55b375f6a54ddf722cca74fb32f25",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "pageSize",
              "value": "1"
            }
          ],
          "url": "https://firebase.googleapis.com/v1beta1/projects?pageSize=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 569,
            "text": "{\n  \"results\": [\n    {\n      \"projectId\": \"golden-bloom-168817\",\n      \"projectNumber\": \"584716542225\",\n      \"displayName\": \"My Project 1\",\n      \"name\": \"projects/golden-bloom-168817\",\n      \"resources\": {\n        \"hostingSite\": \"golden-bloom-168817\"\n      },\n      \"state\": \"ACTIVE\"\n    }\n  ],\n  \"nextPageToken\": \"CjAA8-CLX_hTvgydZSZYma0l5OFzr3ub6enmZiqZb35lAkzrJwU2JCP36fCJ7-ai10A=\"\n}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1138,
      },
      {
        "_id": "f130c80f4a7cd1dc5e73f7f5fb203d91",
        "request": {
          "headers": [
            {
              "_fromType": "array",[...]
